.buttonsContainer {
    display: flex;
    justify-content: start;
    margin-right: 100px;
  }
  
  .button {
    background-color: #aabd79;
    color: #000;
    border: none;
    border-radius: 40px;
    padding: 10px 20px;
    margin-right: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #95bd31;
  }
  
  .selectedButton {
    background-color: #95C122;
    color: #000;
    border: none;
    border-radius: 40px;
    padding: 10px 20px;
    margin-right: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  .content {
    margin-top: 20px;
  }