
.lessonsList {
    padding: 0;
  }
  
  .lessonItem {
    margin-left: -20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
  
    &:hover {
      color: #007bff;
    }
  }

  .lessonItems {
    list-style: none;
  }
  